:root {
	--brend-color: #2e2f42;
	--brend-second: #4d5ae5;
	--color-paragraf: #434455;
	--color-button: #4d5ae5;
	--button-background: #f4f4fd;
	--important-background: #2e2f42;
	--footer-text-color: #e7e9fc;
	--primery-title-color: #ffffff;
	--section-fon-color: #f4f4fd;
	--footer-logo-color: #f4f4fd;
}
body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.02em;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* Header */
.first-logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: var(--brend-second);
}
.second-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: var(--brend-color);
}

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}

.site-nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--brend-color);
}
.header-mail {
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-paragraf);
	font-style: normal;
}
.header-tel {
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-paragraf);
	font-style: normal;
}
.header-nav .link:hover,
.header-nav .link:focus {
	color: #404bbf;
}
/* Hero section */
.hero {
	background: var(--important-background);
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.1;
	color: var(--primery-title-color);
}

.hero-but {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background: #4d5ae5;
}
.hero-but:hover,
.hero-but:focus {
	color: #ffffff;
	background: #404bbf;
}

/* Expirienc */
.section-titl {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--brend-color);
}
.section-text {
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-paragraf);
}
/* About */
.section-about {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	color: var(--brend-color);
}
.section-fon {
	background: var(--section-fon-color);
}
/* footer */
.footer-fon {
	background: var(--important-background);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	color: var(--footer-text-color);
}
.footer-logo {
	font-weight: 800;
	font-size: 18px;
	line-height: 1.12;
	letter-spacing: 0.03em;
	color: var(--footer-logo-color);
}
/* Portfolio */

.portfolio-titl {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--brend-color);
}
.portfolio-text {
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-paragraf);
}
/* portfolio-button */
.portfolio-button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--color-button);
	background-color: var(--button-background);
}
.portfolio-button:hover,
.portfolio-button:focus {
	color: #ffffff;
	background: #404bbf;
}
