body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.02em;
	list-style: none;
}
/* Header */
.first-logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: #4d5ae5;
}
.second-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: #2e2f42;
}
.decor {
	text-decoration: none;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}

.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #2e2f42;
}
.header-mail {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
}
.header-tel {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #434455;
}
/* Hero section */
.hero {
	background: #2e2f42;
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.1;
	color: #ffffff;
}

.hero-but {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background: #4d5ae5;
}
/* About */
.section-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
}
.section-headline {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #2e2f42;
}
